:root {
    --text: rgb(15, 11, 11);
    --small: "Open Sans", sans-serif;
    --big: "Titillium Web", sans-serif;
}

body {
    /* background: linear-gradient(315deg, #A3BCB6 60%, #DADED4 100%); */
    /* background-color: #A3BCB6; */
    background-color: #DADED4;
}