@import url(./default.css);
.container {
    padding: 4%;
}

.profile {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.details {
    font-size: 1.5em;
    text-align: center;
}